.place__text {
    grid-area: text;
    font-size: 18px;
    font-weight: 400;
    line-height: 29.34px;
    letter-spacing: 0em;
    color: #FFFFFF;
    margin: 0;
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place__text {
        max-width: 456px;
    }
}

@media screen and (max-width: 767px) {
    .place__text {
        max-width: 288px;
        margin: auto;
        font-size: 16px;
        line-height: 26px;
        text-align: left;

    }
}