.lead__title {
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    max-width: 720px;
    margin: 0 auto 32px;
}

@media screen and (max-width: 767px) {
    .lead__title {
          max-width: 288px;
          width: 100%;
          font-size: 40px;
          line-height: 44px;
          margin-bottom: 16px;
      }
}