.place {
    display: grid;
    gap: 48px 40px;
    grid-template-areas: "header url""image text";
    margin: auto;
    max-width: 984px;
}


@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        gap: 48px 32px;
        display: grid;
        grid-template-columns: repeat(2, minmax(216px, 1fr));
        max-width: calc(100% - 96px);
        margin: auto;
        grid-template-areas: "header url""image text";
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
            gap: 48px 28px;
            width: calc(100% - 48px);
        }
}    

@media screen and (max-width: 767px) {
    .place {
           grid-template-columns: 320px;
           gap: 32px;
           grid-template-areas:
               "header"
               "url"
               "image"
               "text";
           margin: auto;
           max-width: 320px;
       }
}   